{% extends 'base.html.twig' %}

{% block body %}
<!-- HEADER -->
<header class="header">
    <div class="header-nav">
        <div class="header-logo">
            <img src="{{ asset('img/graphics/logo.png') }}" alt="Logo de LabBoite" />
        </div>
    </div>
</header>
{% endblock %}
