<!-- HEADER -->
<header class="header">
    <div class="header-nav">
        <div class="header-logo">
            <img src="{{ asset('img/graphics/logo.png') }}" alt="Logo de LabBoite" />
        </div>
        <div class="header-tabs">
            <ul class="tabs-container">
                {% for theme in themes %}
                    <li>
                        <a 
                            href="{{ path('category_index', {'slug': theme.slug}) }}" 
                            class="tab-group {{ theme.slug == category.theme.slug ? "active" : null}}"
                        >
                            {{ theme.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>