{% extends 'base.html.twig' %}

{% block body %}

    {% include "header/admin/header.html.twig" %}

    <!-- CONTENT -->
    <main>
        <div class="container">
            <div class="form">
                <div class="form-nav">
                    <a href="{{ path('admin_tool_index', {'slug': tool.category.slug, 'themeSlug': tool.category.theme.slug}) }}">retour</a>
                </div>
                <div class="form-box">
                    <div class="form-head">
                        <h1>Modifier l'outil</h1>
                    </div>
                    <div class="form-body">
                        {{ include('tool/admin/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#tool_imageFile").change(function(){
        readURL(this);
    });
</script>
{% endblock %}
