{% extends 'base.html.twig' %}

{% block title %}Edit Tool{% endblock %}

{% block body %}
    <h1>Edit Tool</h1>

    {{ include('tool/admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tool_index', {'slug': tool.category.slug, 'themeSlug': tool.category.theme.slug}) }}">Back to list</a>

    {{ include('tool/admin/_delete_form.html.twig') }}
{% endblock %}
