{% extends 'base.html.twig' %}

{% block body %}
    <!-- HEADER -->
    {% include "header/public/header.html.twig" %}

    <!-- CONTENT -->
    <main>
        <div class="container">
            <div class="index index-categories">
                {% for category in categories %}
                    <article class="category-item">
                        <div class="card">
                            <div class="card-img card-img-category">
                                <a href="{{ path('tool_index', {'themeSlug': category.theme.slug, 'slug': category.slug})}}" class="card-link">
                                    {% if category.thumbnailName is null %}
                                        <img src="{{ asset('img/default.png') }}" alt="Category name">
                                    {% else %}
                                        <img src="{{ asset('upload/category/' ~ category.thumbnailName) }}" alt="Category name">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-title card-title-category">
                                <h2 class="title-category">{{ category.name }}</h2>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
