{% extends 'base.html.twig' %}

{% block title %}Edit Consumable{% endblock %}

{% block body %}
    <h1>Edit Consumable</h1>

    {{ include('consumable/admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('consumable_index' ,{'slug': consumable.tool.slug, 'themeSlug': consumable.tool.category.theme.slug, 'categorySlug': consumable.tool.category.slug})  }}">back to list</a>
{% endblock %}
